# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SchmuckundAktien_Eric\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
